html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:#E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

.body{
    position: relative;
}

.wrap {
    position: relative;
    background: #E5E5E5;
    height: 100%;
    padding: 113px 160px 0px 160px;
    border: 1px solid #DADADA;

    width: 100%;
    height: 100%;
}

.row_green{
    height: 1px;
    background-color: #518E6A;
    max-width: 1390px;
    margin: 0 auto;
}

.shape {
    border: solid 1px #DADADA;
    background: #FFFFFF; 
    max-width: 1298px;
    min-width: 1130px;
    margin: 0 auto;
    padding: 45px;
} 

.header {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 34px;
}

h1, h2 {
    margin: 0;
    text-decoration: none;
    font-weight: 300;
}
.search {
    width: 285px;
    height: 43px;
    padding: 0 0 0 10px;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    font-size: 16px;
    line-height: 25px;
 }

 .button {
    width: 150px;
    height: 42px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    background: #518E6A;
    border: 1px solid #518E6A;
    color: #FFFFFF;
    cursor: pointer;
 }

 .head-search {
    padding-bottom: 39px; 
 }

.table {
    line-height: 32px;
    width: 100%;
    border-collapse: collapse;
}

.thead {
    font-size: 16px;
    line-height: 32px;
    text-align: left;
}

tbody tr:hover {
    background: #F2F2F2;
    color: #3072C4; 
    cursor: pointer;
}

.row {
    height: 2px;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 33px;
}

.bord {
    border: solid red;
}

.footer {
    color: #A1A1A1; 
    max-width: 1390px;
    min-width: 1130px;
    left: 0;
    right: 0;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    margin: auto;
    background: #E5E5E5;
    padding-left: 25px;
 }

.logo {
    float: left;
}

.text_SKB {
    display: inline-block;
    padding-left: 7.98px;
}

.service {
    font-size: 14px;
}

.popup{
    width: 500px;
    height: 590px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFFFFF; 
    z-index: 30;
    position: absolute;
    margin: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.exit {
    width: 14px;
    height: 14px;
}

.exit_1 {
    text-decoration: none;
}

.form-data {
    padding: 25px 35px 21px 30px;
}

.form-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.name {
    padding-top: 10px;
    float: left;
    width: 150px;
    height: 28px;
}

.line-search{
    width: 269px;
    height: 38px;
    border: 1px solid #CECECE;
}

.string {
    margin-bottom: 20px;
}

.line-small{
    width: 130px;
    height: 38px;
    border: 1px solid #CECECE;
}

.spacer {
    height: 5px;
}

.buttons {
    padding: 21px 0px 21px 30px;
    background-color: #E9E9E9;;
}
.buttons1 {
    width: 150px;
    height: 38px;
    background: #518E6A;
    border: 1px solid #518E6A;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
}

.buttons2 {
    width: 110px;
    height: 38px;
    background: #FFFFFF;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    border: 1px solid #CECECE;
}